# Ambiente virtual e arquivos de ambiente
venv/
.env

# Arquivos de cache e compilação
__pycache__/
*.py[cod]
*.pyo

# Modelos, checkpoints e arquivos temporários
logs/
*.pt
*.bin
*.safetensors

# Ignorar arquivos de log e métricas gerados
*.log
runs/*.csv  # Apenas arquivos CSV de métricas gerados em runs/
