venv/

__pycache__/
*.py[cod]
*.pyo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.egg-info/
.eggs/
*.lock
*.log

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/

# Environments
.env
.venv
ENV/
env/
venv/

# Modelos treinados e outros artefatos grandes
ml/modelo_finetuned/

# Arquivos de configuração e logs
*.log
*.csv
*.pkl

# IDEs e Editores
.vscode/
.idea/
*.sublime-workspace

# Dependências instaladas via pip
pip-log.txt
pip-delete-this-directory.txt

# Arquivos de travamento do Python (geralmente não versionados)
poetry.lock
Pipfile.lock
